In [46]:
import joblib
model=joblib.load('nlppr.joblib')

In [47]:
tweet=input("enter tweet")
tweet

"'stwad askhgasda idbc d  iadkdbk ayluv  lfh aluyuv v'"

In [48]:
import re
import string
import nltk
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
def remove_sp(tweet):
    tweet = tweet. lower ()
    tweet=re.sub('\[.*?\]',' ',tweet)
    tweet = re.sub('@[^\s]+','',tweet)
    tweet = re.sub('http[^\s]+','',tweet)
    tweet=re.sub('\n',' ',tweet)
    tweet=re.sub('\w*\d\w*',' ',tweet)
    tweet=re.sub('[%s]'%re.escape(string.punctuation)," ",tweet)
    return tweet

In [49]:

def remove_stop_words(sentence): 
  # Split the sentence into individual words 
  words = sentence.split() 
  
  # Use a list comprehension to remove stop words 
  filtered_words = [word for word in words if word not in stop_words] 
  
  
  # Join the filtered words back into a sentence 
  return ' '.join(filtered_words)

In [50]:

import pandas as pd
x=remove_sp(tweet)
x=remove_stop_words(x)
# Convert the string to a Pandas Series
x = pd.Series(x)
print(type(x))
x

<class 'pandas.core.series.Series'>

0    stwad askhgasda idbc iadkdbk ayluv lfh aluyuv v
dtype: object

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer
loaded_vectorizer = joblib.load('tfidf_vectorizer.pkl')
X_new_transformed = loaded_vectorizer.transform(x).toarray() 
tf_x=pd.DataFrame(X_new_transformed)
tf_x

,0,1,2,3,4,5,6,7,8,9,...,13850,13851,13852,13853,13854,13855,13856,13857,13858,13859
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
x

0    stwad askhgasda idbc iadkdbk ayluv lfh aluyuv v
dtype: object

In [53]:
pre=model.predict(tf_x)[0]
if pre==0:
    print("no fake")
else:
    print("False")

no fake