In [53]:
import pandas as pd
import joblib
df=pd.read_csv("train.csv")
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [54]:
len(df["text"].unique())

7503

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [56]:
df.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [57]:
df=df.drop(columns=(['keyword','location','id']))
df

                                                   text  target
0     Our Deeds are the Reason of this #earthquake M...       1
1                Forest fire near La Ronge Sask. Canada       1
2     All residents asked to 'shelter in place' are ...       1
3     13,000 people receive #wildfires evacuation or...       1
4     Just got sent this photo from Ruby #Alaska as ...       1
...                                                 ...     ...
7608  Two giant cranes holding a bridge collapse int...       1
7609  @aria_ahrary @TheTawniest The out of control w...       1
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  Police investigating after an e-bike collided ...       1
7612  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 2 columns]

In [58]:
x=df["text"]
y=df["target"]
x[7611]

'Police investigating after an e-bike collided with a car in Little Portugal. E-bike rider suffered serious non-life threatening injuries.'

In [59]:
import re
import string
def remove_sp(tweet):
    tweet = tweet. lower ()
    tweet=re.sub('\[.*?\]',' ',tweet)
    tweet = re.sub('@[^\s]+','',tweet)
    tweet = re.sub('http[^\s]+','',tweet)
    tweet=re.sub('\n',' ',tweet)
    tweet=re.sub('\w*\d\w*',' ',tweet)
    tweet=re.sub('[%s]'%re.escape(string.punctuation)," ",tweet)
    return tweet

In [60]:
txt='Police investigating after an e-bike collided with a car in Little Portugal. E-bike rider suffered serious non-life threatening injuries.'
v=remove_sp(txt)
v

'police investigating after an e bike collided with a car in little portugal  e bike rider suffered serious non life threatening injuries '

In [61]:
import nltk
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

def remove_stop_words(sentence): 
  # Split the sentence into individual words 
  words = sentence.split() 
  
  # Use a list comprehension to remove stop words 
  filtered_words = [word for word in words if word not in stop_words] 
  
  
  # Join the filtered words back into a sentence 
  return ' '.join(filtered_words)

In [62]:
x=x.apply(remove_sp)
x=x.apply(remove_stop_words)

In [63]:
type(x)

pandas.core.series.Series

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
tf_x=tf.fit_transform(x).toarray()
joblib.dump(tf, 'tfidf_vectorizer.pkl')

['tfidf_vectorizer.pkl']

In [65]:
tf_x=pd.DataFrame(tf_x)

In [66]:
tf_x

,0,1,2,3,4,5,6,7,8,9,...,13850,13851,13852,13853,13854,13855,13856,13857,13858,13859
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7610,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7611,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7612,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
from imblearn.over_sampling import SMOTE
smt=SMOTE()
sm_x,sm_y=smt.fit_resample(tf_x,y)

In [68]:
y.value_counts()

target
0    4342
1    3271
Name: count, dtype: int64

In [69]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(sm_x,sm_y,test_size=0.1,random_state=2)

In [70]:
sm_y.value_counts()

target
1    4342
0    4342
Name: count, dtype: int64

In [71]:
from sklearn.linear_model import LogisticRegression
ld=LogisticRegression(random_state=3)

In [72]:
model=ld.fit(sm_x,sm_y)

In [73]:
pre=model.predict(x_test)

In [74]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pre)

0.8872266973532796

In [75]:
joblib.dump(model,'nlppr.joblib')

['nlppr.joblib']

In [76]:
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.model_selection import cross_val_score,KFold

In [77]:
#Your dataset is randomly divided into 5 roughly equal parts or "folds."

scores = cross_val_score(model,sm_x,sm_y, cv=5)
scores

array([0.74438687, 0.62003454, 0.61024755, 0.64536557, 0.71486175])

In [86]:
scores.mean()

0.6669792586932818

In [79]:
print("Mean squrre error",mean_squared_error(y_test, pre))
rms = sqrt(mean_squared_error(y_test, pre))
print("root mean squre error",rms)

Mean squrre error 0.11277330264672036
root mean squre error 0.33581736501664167